<row mc:repeatable="Content" mc:variant="Text/Image">
      <columns large="6" small="12">
        <div mc:edit="2_col_img_right_text">Add your description here. Please note, 150px image height is only a suggestion. You can use any height you like but keep the width equal to 255px. Text formatting is not recommended.</div>
    </columns>
    <columns large="6" small="12">
        <img src="{{img}}/255x150" mc:edit="2_col_img_right_image" style="vertical-align: bottom; width:100%;" />
    </columns>
</row>