<row mc:repeatable="Content" mc:variant="Text/Text">
      <columns large="6" small="12">
        <div mc:edit="2_col_text_text_left">Lorem ipsum dolor sit amet, senectus nec. Lorem lectus. Vivamus in, vestibulum faucibus amet, arcu porta. Mauris suspendisse consequat, porro class vitae. Eu a pulvinar. Mi voluptatibus.
        Sapien dui. Sem aenean, et felis eros. Urna ultrices. Ante sollicitudin leo, purus error. Posuere erat.</div>
    </columns>
    <columns large="6" small="12">
        <div mc:edit="2_col_text_text_right">Lorem ipsum dolor sit amet, senectus nec. Lorem lectus. Vivamus in, vestibulum faucibus amet, arcu porta. Mauris suspendisse consequat, porro class vitae. Eu a pulvinar. Mi voluptatibus.
        Sapien dui. Sem aenean, et felis eros. Urna ultrices. Ante sollicitudin leo, purus error. Posuere erat.</div>
    </columns>
</row>