<row mc:repeatable="Content" mc:variant="Navigation" class="row-no-margin">
    <columns small="12">
        <center>
          <menu class="horizontal">
            <item href="{{website}}/awards/" target="_blank">HOME</item>
            <item href="{{website}}/awards/attend-the-women-in-rail-awards-2019/" target="_blank">ATTEND</item>
            <item href="{{website}}/awards/nominate-now/" target="_blank">NOMINATE</item>
            <item href="{{website}}/awards/2018-gallery/" target="_blank">GALLERY</item>
        </menu>
    </center>
</columns>
</row>
