<row mc:repeatable="Content" mc:variant="Social Icons">
    <columns large="3" no-expander small="12">
        <center>
            <img src="https://rfsemails.s3.amazonaws.com/nimblemedia/2019/women-in-rail/facebook.jpg" mc:edit="icon_facebook" style="vertical-align: bottom; width:159px" width="159" />
        </center>
    </columns>
    <columns large="3" no-expander small="12">
        <center>
            <img src="https://rfsemails.s3.amazonaws.com/nimblemedia/2019/women-in-rail/instagram.jpg" mc:edit="icon_instargram" style="vertical-align: bottom; width:159px" width="159" />
        </center>
    </columns>
    <columns large="3" no-expander small="12">
        <center>
            <img src="https://rfsemails.s3.amazonaws.com/nimblemedia/2019/women-in-rail/twitter.jpg" mc:edit="icon_twitter" style="vertical-align: bottom; width:159px" width="159" />
        </center>
    </columns>
</row>