/*  ********************************************************
 *   404 Page - requires image to be created on 404.php
 *  ********************************************************
 */

#page_404 {
    padding: spacer(2) 0 spacer(1);
    img {
      max-width:90%;
    }
    .image_404, .content, .button  {
        margin-bottom: spacer();
    }
}
