/*  ********************************************************
 *   Gravity forms form styling
 *  ********************************************************
 */


/**
 * Labels with asterix
 * ---
 */

$labels-display: true !default; // Show or hide labels
$labels-font-size: 15px !default; // Labels font size
$labels-font-color: white !default; // Labels font color
$labels-font-weight: $font-weight-normal !default; // Labels font weight
$labels-margin: 0 0 5px 0 !default; // Margin around labels
// Required asterix
$labels-asterix-color: color(brand) !default; // Asterix color
$labels-asterix-margin: 0 0 0 3px !default; // margins for equired asterix (*)
$labels-asterix-font-size: $font-size-sm !default; // Font size for required asterix (*)

/**
 * Inputs
 * ---
 */

$input-border-radius:0; // Border radious
$input-border-width:1px; // Border width
$input-border-color: white; // Border color
$input-border-style: solid; // none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset, initial, inherit
$input-bacground-color: transparent; // Input bacground color
$input-font-size: 14px;
$input-font-weight: $labels-font-weight;
$input-text-color: white;
// Paddings
$input-padding-top: 8px;
$input-padding-bottom: 8px;
$input-padding-left: 0;
$input-padding-right: 0;
// Widths
$input-width: 100%;
// Placeholder
$input-placeholder-color: transparent;
$input-placeholder-font-style: normal;
$input-placeholder-font-weight: $font-weight-normal;
$input-placeholder-font-size: $input-font-size;

/**
 * Textarea // Per default styles are infernited from input
 * @content inclided
 * ---
 */

$textarea-border-radius:$input-border-radius; // Border radious
$textarea-border-width:$input-border-width; // Border width
$textarea-border-color: $input-border-color; // Border color
$textarea-border-style: $input-border-style; // none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset, initial, inherit
$textarea-bacground-color: $input-bacground-color; // Input bacground color
$textarea-font-size: 14px;
$textarea-text-color: $input-text-color;
$textarea-font-weight: $input-font-weight;
// Paddings
$textarea-padding-top: $input-padding-top;
$textarea-padding-bottom: $textarea-padding-top;
$textarea-padding-left: 0;
$textarea-padding-right: $textarea-padding-left;
// Widths
$textarea-width: $input-width;
// Placeholder
$textarea-placeholder-color: $input-placeholder-color;
$textarea-placeholder-font-style: $input-placeholder-font-style;
$textarea-placeholder-font-weight: $input-placeholder-font-weight;
$textarea-placeholder-font-size: $input-placeholder-font-size;
$textarea-resize: none;

/**
 * Fields description
 * @content inclided
 * ---
 */

$f-description-color: white !default;
$f-description-font-weight: $font-weight-normal !default;
$f-description-font-size: 12px !default;
$f-description-font-style: inherit !default;
$f-description-margins: 5px 0 0 0 !default;

/**
 * Characters counter ( inhernits from description)
 * @content inclided
 * ---
 */

$f-counter-color: $f-description-color !default;
$f-counter-font-weight: $f-description-font-weight !default;
$f-counter-font-size: $f-description-font-size !default;
$f-counter-font-style: $f-description-font-style !default;
$f-counter-margins: $f-description-margins !default;

/**
 * Select // Per default styles are infernited from input
 * @content inclided
 * ---
 */

$select-border-radius:$input-border-radius; // Border radious
$select-border-width:$input-border-width; // Border width
$select-border-color: $input-border-color; // Border color
$select-border-style: $input-border-style; // none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset, initial, inherit
$select-bacground-color: $input-bacground-color; // Input bacground color
$select-font-size: $input-font-size;
$select-text-color: $input-text-color;
// Paddings
$select-padding-top: $input-padding-top;
$select-padding-bottom: $select-padding-top;
$select-padding-left: $select-padding-top;
$select-padding-right: $select-padding-top;
// Widths
$select-width: $input-width;
// Placeholder
$select-placeholder-color: $input-placeholder-color;
$select-placeholder-font-style: $input-placeholder-font-style;
$select-placeholder-font-weight: $input-placeholder-font-weight;
$select-placeholder-font-size: $input-placeholder-font-size;
$select-resize: none;

/*  ********************************************************
 *   Styles
 *  ********************************************************
 */

.gform_wrapper *,
.gform_wrapper:after,
.gform_wrapper:before {
    box-sizing: border-box!important;
}

.gform_wrapper {
    .gform_body {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            text-indent: 0;
        }
        li {
          position: relative;
          margin-bottom: 20px;
          @include from(2) {
            margin-bottom: 35px;
          }
          @include from(3) {
            margin-bottom: 50px;
          }
          &.col-2 {
            @include from(2) {
              float: right;
              width: 45%;
              @include _every(2) {
                float: left;
              }
            }
          }
          &.clx {
            clear: both;
          }
        }
    }
    label {
        @include gf-labels() {}
        ;
    }
    input {
        @include gf-inputs() {}
    }
    textarea {
        @include gf-textarea() {}
    }
    select {
        @include gf-select();
    }
    /* Fields descriptions */
    .gfield_description {
        @include gf-description();
    }
    /* Caracter counter */
    .ginput_counter {
        @include gf-counter();
    }
    /* Checkboxes */
    @include gf-checkboxes() {}
    ;
    /* Remove the stupid outer glow in Webkit */
    input:focus,
    select:focus,
    textarea:focus {
        outline: 0!important;
    }
  .validation_message {
    font-weight: $font-weight-bold !important;
  }
}
