/*  ********************************************************
 *   Page header
 *  ********************************************************
 */

@mixin i-icon() {
    background: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    color: color(brand);
    line-height: 24px;
    float: left;
    @content;
}
@mixin line-color( $color: brand) {
    &.current-menu-item {
        background-color: color($color);
        &:after {
            background-color: color($color);
        }
        &:before {
            background-color: darken(color($color), 10%);
        }
    }
    &:hover {
        background-color: color($color);
        &:after {
            background-color: color($color);
        }
    }
    &:before {
        background-color: color($color);
    }
    &:after {
        background-color: transparent;
    }
}
header#header {
    #top {
        background-color: darken(color(brand), 5%);
        border-bottom: 1px solid lighten(color(brand), 3%);
        padding: 5px 0;
        color: white;
        a {
            color: white;
        }
        .container {
            &.flex-center {
                @include breakpoint(max-width $md) {
                    flex-direction: row-reverse;
                }
            }
        }
        .contact {
            display: flex;
            @include breakpoint(min-width $md) {
                width: 80%;
                font-size: 12px;
                .email {
                    margin-right: 20px;
                }
                i {
                    float: left;
                    margin-right: 5px;
                }
                .mobile {
                    display: none;
                }
            }
        }
        .social {
            ul {
                display: flex;
                li {
                    margin-left: 15px;
                    font-size: 14px;
                    @include breakpoint(max-width $md) {
                        margin-left: 0;
                        margin-right: 15px;
                    }
                    i {
                        @include i-icon();
                    }
                }
            }
        }
        @include breakpoint(max-width $md) {
            .desktop {
                display: none;
            }
            .contact {
                i {
                    @include i-icon() {
                        margin-right: 15px;
                        @include breakpoint(max-width $md) {
                            margin-right: 0;
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }
}
/* Navigation */

#top-nav {
    background: color(body-background);
    @include breakpoint(max-width $xl) {
        .container {
            width: 100%;
            max-width: 100%;
        }
        background: transparent;
        float: right;
        margin-top:-73px;
        margin-right:2.5%;
        border:2px solid color(wir);
        border-radius:$border-radius-base;
        padding:4px 6px;
        text-align: center;
        font-weight: bold;
    }
    @include breakpoint(max-width $md) {
        margin-top: -57px;
    }
}
#menu-header {
    text-transform: uppercase;
    .navigation-landscape & {
        display: flex;
        flex-wrap: wrap; // justify-content:space-evenly;
        align-items: stretch;
        li {
            ul {
                li.menu-item-has-children {
                    &:before {
                        margin-bottom: -3px;
                    }
                }
            }
            @include breakpoint(max-width $lg) {
                a {
                    font-size: 12px;
                }
            }
        }
    }
    .navigation-portrait & {
        li {
            position: relative;
            &:before {
                height: 1px;
                background: lighten(color(brand), 5%)!important;
            }
            ul li {
                &:before {
                    background: transparent!important;
                    height: 0 !important;
                }
                a {
                    margin-left: 0;
                    margin-right: 0;
                    padding-top: 8px;
                    padding-bottom: 5px;
                    @include em('font-size', 12px);
                }
            }
            a {
                float: none;
            }
        }
    }
    @if $display-navigation-colours==true {
        li {
            position: relative;
            padding-bottom: 5px;
            .navigation-landscape & {
                text-align: center;
                white-space: nowrap;
                flex: 1;
                ul {
                    margin-top: 5px;
                }
                li {
                    text-align: left;
                    &:before {
                        height: 1px;
                        background: rgba(white, .3);
                        padding-bottom: 6px!important;
                        a {}
                    }
                    &:after {
                        display: none;
                    }
                }
            }
            a {
                background: transparent!important;
            }
            &:before, &:after {
                content: "";
                position: absolute;
                width: 100%;
                left: 0;
                background-color: color(purple-light); // background-color:color(brand);
                display: block;
            }
            &:after {
                top: -1px;
                height: 1px;
            }
            &:before {
                bottom: 0;
                height: 5px;
            }
        }
        li {
            &:nth-child(1), &:nth-child(10) {
                @include line-color(purple-medium);
            }
            &:nth-child(2), &:nth-child(11) {
                @include line-color(red);
            }
            &:nth-child(3), &:nth-child(12) {
                @include line-color( purple-light);
            }
            &:nth-child(4), &:nth-child(13) {
                @include line-color( green);
            }
            &:nth-child(5), &:nth-child(14) {
                @include line-color( orange);
            }
            &:nth-child(6), &:nth-child(15) {
                @include line-color( purple-dark);
            }
            &:nth-child(7), &:nth-child(16) {
                @include line-color( blue-light);
            }
            &:nth-child(8), &:nth-child(17) {
                @include line-color( pink);
            }
            &:nth-child(9), &:nth-child(18) {
                @include line-color( blue-dark);
            }
        }
    }
}
#logo-container {
    padding: spacer(.5) 0;
    .logo {
        img {
            height: 80px;
        }
    }
    .logo-3 {
        img {
            height: 50px;
        }
    }
    .left {
        display: flex;
        .logo {
            margin-right: 20px;
        }
    }
    .right {
        .button {
            margin-left: 10px;
        }
    }
    @include breakpoint(max-width $xl) {
        .button {
            margin-right: 25px;
            span {
                // display: none;
            }
        }
    }
    @include breakpoint(max-width $md) {
        img {
            height: 40px!important;
        }
    }
    @include breakpoint(max-width $sm) {
        .logo-3 {
            display: none;
        }
    }
    @include breakpoint(max-width 480px) {
        .button span {
            display: none!important;
        }
    }
}
