@import "scut";
@import "susy";
@import "config";
@import "icons";
.vc_content {
    p, ul, ol, h1, h2, h3, h4 {
        &:first-of-type {
            margin-top: 5px;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    * {
        font-size: 12px!important;
    }
}
.vc_info {
    color: color(red-dark);
}
.vc_label {
    text-align: left!important;
    &.inline {
        display: inline-block;
        margin-right: 5px;
    }
    &.subtitle {
        padding-left: 41px;
        p {
            font-size: 11px;
        }
    }
    &.bold {
        font-weight: bold;
    }
    p {
        margin: 0;
        font-size: 12px;
        color: #888;
        font-style: italic;
    }
    &.vc_label_text {
        text-align: left;
        color: black;
    }
}
.vc-required {
    font-weight: bold;
    color: color(danger);
}
.vc_hidden {
    @include scut-hide-visually;
}
/* Custom Param - image sizer */

.wpb_el_type_image_sizer_height, .wpb_el_type_image_sizer_width {
    float: left!important;
    width: 50%!important;
    .vc_image_sizer {
        input {
            float: left;
            width: calc(100% - 28px);
        }
        span {
            display: block;
            height: 28px;
            width: 28px;
            line-height: 28px;
            background: lighten(#ccc, 10%);
            float: right;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
        }
    }
    .vc_description {
        font-size: 12px;
        line-height: 1.2;
        padding-top: 5px;
        display: block;
        clear: both;
    }
}
.wpb_element_wrapper {
    position: relative;
}
.vc_space {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 5px;
    width: 60px;
    text-align: right;
    p {
        font-size: 11px!important;
        text-align: right;
        padding-right: 15px;
    }
    &.vc_space_below, &.vc_space_above {
        &:before {
            position: absolute;
            font-size: 11px;
            right: 0px;
            top: 1px;
        }
    }
    &.vc_space_below {
        top: 26px;
        @include icon(chevron-down) {}
    }
    &.vc_space_above {
        @include icon(chevron-up);
    }
}
