/*  ********************************************************
 *   HOme page styles
 *  ********************************************************
 */

.star-title {
    h2 {}
    span {
        display: inline-block;
        @extend %clx;
        position: relative;
        i {
            color: color(purple-medium);
            font-size: 30px!important;
            @include scut-center-transform(y);
            @include _first-child() {
                left: 0px;
            }
            @include _last-child() {
                right: 0px;
            }
            @include breakpoint(min-width $md) {
                @include _first-child() {
                    left: -40px;
                }
                @include _last-child() {
                    right: -40px;
                }
            }
        }
    }
}
