@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: local('Poppins Thin'), local('Poppins-Thin'), url(fonts/google/Poppins-normal-100.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

