@font-face {
  font-family: "bigraildiversity";
  src: url('icons/bigraildiversity.eot');
  src: url('icons/bigraildiversity.eot?#iefix') format('eot'),
  url('icons/bigraildiversity.woff2') format('woff2'),
  url('icons/bigraildiversity.woff') format('woff'),
  url('icons/bigraildiversity.ttf') format('truetype'),
  url('icons/bigraildiversity.svg#bigraildiversity') format('svg');
}

@mixin icon-styles {
  font-family: "bigraildiversity";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
  }

  %icon {
    @include icon-styles;
  }

  @function icon-char($filename) {
    $char: "";
    
      @if $filename == award {
        $char: "\E001";
      }
      @if $filename == bars {
        $char: "\E002";
      }
      @if $filename == bell {
        $char: "\E003";
      }
      @if $filename == bookmark {
        $char: "\E004";
      }
      @if $filename == boxing-glove {
        $char: "\E005";
      }
      @if $filename == calendar-alt {
        $char: "\E006";
      }
      @if $filename == calendar-times {
        $char: "\E007";
      }
      @if $filename == camera-alt {
        $char: "\E008";
      }
      @if $filename == chevron-down {
        $char: "\E009";
      }
      @if $filename == chevron-left {
        $char: "\E00A";
      }
      @if $filename == chevron-right {
        $char: "\E00B";
      }
      @if $filename == chevron-up {
        $char: "\E00C";
      }
      @if $filename == circle {
        $char: "\E00D";
      }
      @if $filename == clock {
        $char: "\E00E";
      }
      @if $filename == envelope-bold {
        $char: "\E00F";
      }
      @if $filename == envelope {
        $char: "\E010";
      }
      @if $filename == facebook {
        $char: "\E011";
      }
      @if $filename == map-marked-alt {
        $char: "\E012";
      }
      @if $filename == menu-close {
        $char: "\E013";
      }
      @if $filename == menu-indicator-down {
        $char: "\E014";
      }
      @if $filename == menu-indicator-left {
        $char: "\E015";
      }
      @if $filename == menu-indicator-right {
        $char: "\E016";
      }
      @if $filename == menu-indicator-up {
        $char: "\E017";
      }
      @if $filename == phone-bold {
        $char: "\E018";
      }
      @if $filename == phone {
        $char: "\E019";
      }
      @if $filename == quotes {
        $char: "\E01A";
      }
      @if $filename == ribbon {
        $char: "\E01B";
      }
      @if $filename == star {
        $char: "\E01C";
      }
      @if $filename == subway {
        $char: "\E01D";
      }
      @if $filename == train {
        $char: "\E01E";
      }
      @if $filename == trophy-alt {
        $char: "\E01F";
      }
      @if $filename == twitter {
        $char: "\E020";
      }

    @return $char;
  }

  @mixin icon($filename, $insert: before, $extend: true) {
    &:#{$insert} {
      @if $extend {
        @extend %icon;
      } @else {
        @include icon-styles;
      }
      content: icon-char($filename);
      @content;
    }
  }

  .icon-award {
    @include icon(award);
  }
  .icon-bars {
    @include icon(bars);
  }
  .icon-bell {
    @include icon(bell);
  }
  .icon-bookmark {
    @include icon(bookmark);
  }
  .icon-boxing-glove {
    @include icon(boxing-glove);
  }
  .icon-calendar-alt {
    @include icon(calendar-alt);
  }
  .icon-calendar-times {
    @include icon(calendar-times);
  }
  .icon-camera-alt {
    @include icon(camera-alt);
  }
  .icon-chevron-down {
    @include icon(chevron-down);
  }
  .icon-chevron-left {
    @include icon(chevron-left);
  }
  .icon-chevron-right {
    @include icon(chevron-right);
  }
  .icon-chevron-up {
    @include icon(chevron-up);
  }
  .icon-circle {
    @include icon(circle);
  }
  .icon-clock {
    @include icon(clock);
  }
  .icon-envelope-bold {
    @include icon(envelope-bold);
  }
  .icon-envelope {
    @include icon(envelope);
  }
  .icon-facebook {
    @include icon(facebook);
  }
  .icon-map-marked-alt {
    @include icon(map-marked-alt);
  }
  .icon-menu-close {
    @include icon(menu-close);
  }
  .icon-menu-indicator-down {
    @include icon(menu-indicator-down);
  }
  .icon-menu-indicator-left {
    @include icon(menu-indicator-left);
  }
  .icon-menu-indicator-right {
    @include icon(menu-indicator-right);
  }
  .icon-menu-indicator-up {
    @include icon(menu-indicator-up);
  }
  .icon-phone-bold {
    @include icon(phone-bold);
  }
  .icon-phone {
    @include icon(phone);
  }
  .icon-quotes {
    @include icon(quotes);
  }
  .icon-ribbon {
    @include icon(ribbon);
  }
  .icon-star {
    @include icon(star);
  }
  .icon-subway {
    @include icon(subway);
  }
  .icon-train {
    @include icon(train);
  }
  .icon-trophy-alt {
    @include icon(trophy-alt);
  }
  .icon-twitter {
    @include icon(twitter);
  }
  