@font-face {
  font-family: "bigraildiversity";
  src: url('icons/bigraildiversity.eot');
  src: url('icons/bigraildiversity.eot?#iefix') format('eot'),
  url('icons/bigraildiversity.woff2') format('woff2'),
  url('icons/bigraildiversity.woff') format('woff'),
  url('icons/bigraildiversity.ttf') format('truetype'),
  url('icons/bigraildiversity.svg#bigraildiversity') format('svg');
}

@mixin icon-styles {
  font-family: "bigraildiversity";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
  }

  %icon {
    @include icon-styles;
  }

  @function icon-char($filename) {
    $char: "";
    
      @if $filename == bars {
        $char: "\E001";
      }
      @if $filename == chevron-down {
        $char: "\E002";
      }
      @if $filename == chevron-left {
        $char: "\E003";
      }
      @if $filename == chevron-right {
        $char: "\E004";
      }
      @if $filename == chevron-up {
        $char: "\E005";
      }
      @if $filename == circle {
        $char: "\E006";
      }
      @if $filename == envelope-bold {
        $char: "\E007";
      }
      @if $filename == envelope {
        $char: "\E008";
      }
      @if $filename == facebook {
        $char: "\E009";
      }
      @if $filename == menu-close {
        $char: "\E00A";
      }
      @if $filename == menu-indicator-down {
        $char: "\E00B";
      }
      @if $filename == menu-indicator-left {
        $char: "\E00C";
      }
      @if $filename == menu-indicator-right {
        $char: "\E00D";
      }
      @if $filename == menu-indicator-up {
        $char: "\E00E";
      }
      @if $filename == phone-bold {
        $char: "\E00F";
      }
      @if $filename == phone {
        $char: "\E010";
      }
      @if $filename == quotes {
        $char: "\E011";
      }
      @if $filename == star {
        $char: "\E012";
      }
      @if $filename == twitter {
        $char: "\E013";
      }

    @return $char;
  }

  @mixin icon($filename, $insert: before, $extend: true) {
    &:#{$insert} {
      @if $extend {
        @extend %icon;
      } @else {
        @include icon-styles;
      }
      content: icon-char($filename);
      @content;
    }
  }

  .icon-bars {
    @include icon(bars);
  }
  .icon-chevron-down {
    @include icon(chevron-down);
  }
  .icon-chevron-left {
    @include icon(chevron-left);
  }
  .icon-chevron-right {
    @include icon(chevron-right);
  }
  .icon-chevron-up {
    @include icon(chevron-up);
  }
  .icon-circle {
    @include icon(circle);
  }
  .icon-envelope-bold {
    @include icon(envelope-bold);
  }
  .icon-envelope {
    @include icon(envelope);
  }
  .icon-facebook {
    @include icon(facebook);
  }
  .icon-menu-close {
    @include icon(menu-close);
  }
  .icon-menu-indicator-down {
    @include icon(menu-indicator-down);
  }
  .icon-menu-indicator-left {
    @include icon(menu-indicator-left);
  }
  .icon-menu-indicator-right {
    @include icon(menu-indicator-right);
  }
  .icon-menu-indicator-up {
    @include icon(menu-indicator-up);
  }
  .icon-phone-bold {
    @include icon(phone-bold);
  }
  .icon-phone {
    @include icon(phone);
  }
  .icon-quotes {
    @include icon(quotes);
  }
  .icon-star {
    @include icon(star);
  }
  .icon-twitter {
    @include icon(twitter);
  }
  