/*  ********************************************************
 *   General Classes for Visual composer
 *  ********************************************************
 */

/* Spacers */

@mixin margin-bottom($margin: 1) {
    margin-bottom: spacer($margin);
}
@mixin margin-top($margin: 1) {
    margin-top: spacer($margin);
}
.spacer-bottom- {
    // Bottom space
    &extra-large {
        @include margin-bottom(4);
    }
    &large {
        @include margin-bottom(3);
    }
    &medium {
        @include margin-bottom(2);
    }
    &default {
        @include margin-bottom(1);
    }
    &small {
        @include margin-bottom(0.5);
    }
    @include breakpoint(max-width $xl) {
        &extra-large {
            &.no-prevent {
                @include margin-bottom(3);
            }
        }
        &large {
            &.no-prevent {
                @include margin-bottom(2);
            }
        }
        &medium {
            &.no-prevent {
                @include margin-bottom(1);
            }
        }
    }
    @include breakpoint(max-width $lg) {
        &extra-large {
            &.no-prevent {
                @include margin-bottom(2);
            }
        }
        &large {
            &.no-prevent {
                @include margin-bottom(1);
            }
        }
    }
    @include breakpoint(max-width $md) {
        &extra-large {
            &.no-prevent {
                @include margin-bottom(1);
            }
        }
    }
}
.spacer-top- {
    // Bottom space
    &extra-large {
        @include margin-top(4);
    }
    &large {
        @include margin-top(3);
    }
    &medium {
        @include margin-top(2);
    }
    &default {
        @include margin-top(1);
    }
    &small {
        @include margin-top(0.5);
    }
    @include breakpoint(max-width $xl) {
        &extra-large {
            &.no-prevent {
                @include margin-top(3);
            }
        }
        &large {
            &.no-prevent {
                @include margin-top(2);
            }
        }
        &medium {
            &.no-prevent {
                @include margin-top(1);
            }
        }
    }
    @include breakpoint(max-width $lg) {
        &extra-large {
            &.no-prevent {
                @include margin-top(2);
            }
        }
        &large {
            &.no-prevent {
                @include margin-top(1);
            }
        }
    }
    @include breakpoint(max-width $md) {
        &extra-large {
            &.no-prevent {
                @include margin-top(1);
            }
        }
    }
}
/* Colours and buttons */

.button {
    border-radius: $border-radius-base;
    padding: 8px 15px;
    display: inline-block;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-right: 10px;
    @include _last-child() {
        margin-right: 0;
    }
    &.small {
        font-size: 12px;
    }
    &.large {
        font-size: 18px;
        @include breakpoint(min-width $md) {
            padding: 10px 20px;
        }
    }
}
@mixin button($color: brand) {
    @if $color==white {
        &.button {

            color: color(gray-light)!important;
            &:hover {
                color: white!important;
                background: color(gray-light)!important;
            }
        }
        &.outline {
            color: white!important;
            &:hover {
                color: color(gray-light)!important;
                background: color(white)!important;
            }
        }
    }
    &.button {
        &.fill {
            text-shadow: -1px -1px 0px darken(color($color), 8%);
            @if $color==white {
                text-shadow: none!important;
                &:hover {
                    text-shadow: none!important;
                }
            }
            color: white;
            background: color($color);
            &:hover {
                background: darken(color($color), 10%);
                text-shadow: -1px -1px 0px darken(color($color), 18%);
            }
        }
        &.outline {
            color: color($color);
            border: 2px solid color($color);
            background: transparent;
            &:hover {
                background: color($color);
                color: white;
            }
        }
    }
}
@each $color in $brdc-colours {
    .color- {
        &#{$color} {
            color: color($color);
            @include button($color);
        }
    }
    .background- {
        &#{$color} {
            background-color: color($color);
        }
    }
    .border- {
        &#{$color} {
            border-color: color($color);
        }
    }
}
/* Font Sizes */

.line-height {
    @include breakpoint(max-width $md) {
        line-height: 1.2!important;
    }
}
@each $size in $brdc-font-sizes {
    .font- {
        &#{$size} {
            font-size: #{$size}px
        }
    }
    .line- {
        &#{$size} {
            line-height: #{$size}px
        }
    }
}
/* Font weights */

.weight- {
    &extra-bold {
        font-weight: $font-weight-bold;
    }
    &bolder {
        font-weight: $font-weight-semi-bold;
    }
    &bold {
        font-weight: $font-weight-bolder;
    }
    &light {
        font-weight: $font-weight-light;
    }
    &lighter {
        font-weight: $font-weight-lighter;
    }
    &extra-light {
        font-weight: $font-weight-extra-light;
    }
}
.align- {
    &center {
        text-align: center;
    }
    &right {
        text-align: right;
    }
}
