/*  ********************************************************
 *   General Classes for Visual composer
 *  ********************************************************
 */

/* Spacers */

@mixin margin-bottom($margin: 1) {
    margin-bottom: spacer($margin);
}
@mixin margin-top($margin: 1) {
    margin-top: spacer($margin);
}
.spacer-bottom- {
    // Bottom space
    &extra-large {
        @include margin-bottom(4);
    }
    &large {
        @include margin-bottom(3);
    }
    &medium {
        @include margin-bottom(2);
    }
    &default {
        @include margin-bottom(1);
    }
    &small {
        @include margin-bottom(0.5);
    }
    @include breakpoint(max-width $xl) {
        &extra-large {
            &.no-prevent {
                @include margin-bottom(3);
            }
        }
        &large {
            &.no-prevent {
                @include margin-bottom(2);
            }
        }
        &medium {
            &.no-prevent {
                @include margin-bottom(1);
            }
        }
    }
    @include breakpoint(max-width $lg) {
        &extra-large {
            &.no-prevent {
                @include margin-bottom(2);
            }
        }
        &large {
            &.no-prevent {
                @include margin-bottom(1);
            }
        }
    }
    @include breakpoint(max-width $md) {
        &extra-large {
            &.no-prevent {
                @include margin-bottom(1);
            }
        }
    }
}
.spacer-top- {
    // Bottom space
    &extra-large {
        @include margin-top(4);
    }
    &large {
        @include margin-top(3);
    }
    &medium {
        @include margin-top(2);
    }
    &default {
        @include margin-top(1);
    }
    &small {
        @include margin-top(0.5);
    }
    @include breakpoint(max-width $xl) {
        &extra-large {
            &.no-prevent {
                @include margin-top(3);
            }
        }
        &large {
            &.no-prevent {
                @include margin-top(2);
            }
        }
        &medium {
            &.no-prevent {
                @include margin-top(1);
            }
        }
    }
    @include breakpoint(max-width $lg) {
        &extra-large {
            &.no-prevent {
                @include margin-top(2);
            }
        }
        &large {
            &.no-prevent {
                @include margin-top(1);
            }
        }
    }
    @include breakpoint(max-width $md) {
        &extra-large {
            &.no-prevent {
                @include margin-top(1);
            }
        }
    }
}
/* Colours */

@each $color in $brdc-colours {
    .color- {
        &#{$color} {
            color: color($color);
        }
    }
    .background- {
        &#{$color} {
            background-color: color($color);
        }
    }
    .border- {
        &#{$color} {
            border-color: color($color);
        }
    }
}
/* Font Sizes */

.line-height {
    @include breakpoint(max-width $md) {
        line-height: 1.2!important;
    }
}
@each $size in $brdc-font-sizes {
    .font- {
        &#{$size} {
            font-size: #{$size}px
        }
    }
    .line- {
        &#{$size} {
            line-height: #{$size}px
        }
    }
}
/* Font weights */

.weight- {
    &extra-bold {
        font-weight: $font-weight-bold;
    }
    &bolder {
        font-weight: $font-weight-semi-bold;
    }
    &bold {
        font-weight: $font-weight-bolder;
    }
    &light {
        font-weight: $font-weight-light;
    }
    &lighter {
        font-weight: $font-weight-lighter;
    }
    &extra-light {
        font-weight: $font-weight-extra-light;
    }
}
.align- {
    &center {
        text-align: center;
    }
    &right {
        text-align: right;
    }
}
