/*  ********************************************************
 *   Classes for additional settings for vc_row
 *  ********************************************************
 */

@mixin container-behavior() {
    .vc_column_container>.vc_column-inner {
        padding-left: 0;
        padding-right: 0;
    }
        .container-inner {
            padding: 60px 80px; // padding-right:80px;
            &.prevent-margin {
                padding-top: 0;
                padding-bottom: 0;
            }
            &.prevent-margin-hor {
                padding-left: 0;
                padding-right: 0;
            }
            @include breakpoint(max-width $md) {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 30px;
                padding-bottom: 30px;
                &.prevent-margin {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
}
@mixin content_container_styles( $color: text, $background:white) {
    color: color($color);
    background: color($background);
    @if $background !=white {
        .container-icon i {
            background-color: color($color);
            border-color: color($background);
            color: color($background);
        }
    }
}
.container-full, .wide-container, .container-narrow {
    @extend %first-element;
    @extend %last-element;
    .vc_column_container {
        .vc_column-inner {
            padding: 0;
        }
    }
}
/* Wide container */
.container-wide {
    @extend %container;
    @include container-behavior();
}
/* Narrow container */
.container-narrow {
    @include container-behavior();
}
.brdc-bcg {
    border-radius: $border-radius-base;
    position: relative;
    .container-icon {
        $size: 50px;
        position: absolute;
        @include scut-center-transform(x);
        height: $size;
        width: $size;
        top: -25px;
        i {
            height: $size;
            width: $size;
            background: color(green);
            color: white;
            border-radius: 50%;
            display: block;
            line-height: $size;
            text-align: center;
            font-size: 26px;
            border: 3px solid white;
        }
    }
}
.bcg- {
    /* White background */
    &white {
        background: white;
    }
    /* Green */
    &green {
        @include content_container_styles(white, green);
    }
    &blue {
        @include content_container_styles(white, wir);
    }
}
