/*  ********************************************************
 *   Winners Table
 *  ********************************************************
 */

ul.winners-table {
    margin: -10px 0!important;
    li {
        padding: 5px 0;
        .header {
            color: color(brand);
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            font-size: 14px;
        }
        &.position-1, &.position-2, &.position-3 {
            font-weight: $font-weight-semi-bold;
        }
        @include breakpoint(max-width $md) {
            padding-top: 2px;
            padding-bottom: 2px;
        }
        border-bottom: 1px solid lighten(color(gray-light), 15%);
        display: flex;
        flex-direction: row;
        align-items: stretch;
        font-size: 12px;
        @include _last-child() {
            border-bottom: none;
        }
    }
    .table-header {
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        color: color(brand);
    }
    span {
        display: block;
        @include breakpoint(min-width $md) {
            white-space: nowrap;
        }
        &.item-company {
            width: 300px;
        }
        &.item-team-name {
            width: calc(100% - 350px);
        }
        &.item-score {
            width: 50px;
            text-align: right;
        }
        @include breakpoint(max-width $md) {
            font-size: 11px;
            &.item-company {
                width: 40%;
                margin-right: 2%;
            }
            &.item-team-name {
                width: 38%;
                margin-right: 2%;
            }
            &.item-score {
                width: 18%;
            }
        }
    }
}
/*  ********************************************************
 *   New Winners table
 *  ********************************************************
 */

.winners-with-img {
    li {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #EFEFEF;
        margin-bottom: 15px;
        padding-bottom: 15px;
        align-items: center;
        font-size: 18px;
        @include _last-child() {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        &.more-button {
            border: none;
            text-align: center;
            span {
                margin-top: 15px;
                margin-bottom: 15px;
                margin: auto;
                background: color(brand);
                display: inline-block;
                color: white;
                @extend %transition;
                &:hover {
                    cursor: pointer!important;
                    background: darken(color(brand), 10%)
                }
            }
        }
        &.hidden {
            display: none;
        }
        &.top-3 {
            .number {
                color: #2C2C2C;
                font-weight: bold;
            }
            .name {
                font-weight: bold;
            }
        }
    }
    .image {
        margin: 0 20px;
        width: 100px;
        text-align: center;
    }
    .number {
        color: #666;
        font-size: 22px;
        width: 19px;
    }
    .score {
        margin-left: auto;
    }
    @include breakpoint(max-width $sm) {
        li {
            font-size: 14px;
        }
        .image {
            width: 50px;
            margin: 0;
            margin-right: 10px;
        }
        .number {
            margin-right: 10px;
            font-size: 14px;
        }
        .name {
            margin-right: 10px;
        }
    }
    @include breakpoint(max-width 380px) {
        .image {
            display: none;
        }
    }
}
