/*  ********************************************************
 *   FAQ's
 *  ********************************************************
 */

.faq {
    border-bottom: 1px solid lighten(color(gray-light), 10%);
    padding-bottom: 11px;
    ul {
        @extend .bullet-list;
        @extend .list-unstyled;
        padding-left: 10px;
    }
    p {
        +ul {
            margin-top: 10px!important;
        }
    }
    .faq-question {
        font-weight: $font-weight-bold;
        color: color(brand);
        @include em('font-size', 16px);
        cursor: pointer;
        @include icon('question') {
            float: left;
            margin-right: 10px;
        }
        span {
          float: left;
          width: calc(100% - 30px);
          line-height: 1.4;
        }
    }
    .faq-answer {
        padding-left: 22px;
        display: none;
        margin-top: 10px;
    }
}
